
@mixin icons {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin share{

  li{
      float: left;
      display: inline;
      width: 60px;
      height: 60px;
      background: $black;
      margin: 0 10px 0 0;
      border-radius: 40px;
      overflow: hidden;
      @include transition(all 0.3s ease-out);
      @include breakpoint(phonePortrait) {
        width: 40px;
        height: 40px;
      }
      &:last-child{
        margin-right: 0;
      }
    a{
      @include icons;
      display: block;
      text-indent: -999em;
      font-size: 45px;
      color:$white;
      @include breakpoint(phonePortrait) {
        font-size: 26px;
      }
      
      &:before{
        float: left;
        left: 0px;
        position: absolute;
        text-indent:0;

      }
      &.facebook{
        &:before{
          top:8px;
          left: 15px;
          content: "\f09a";
          @include breakpoint(phonePortrait) {
            left: 12px;
          }
        }
      }
      &.twitter{
        &:before{
          top: 8px;
          left: 10px;
          content: "\f099";
        }
      }
      &.google{
        &:before{
          top: 7px;
          content: "\f0d5";
          left:0;
          @include breakpoint(phonePortrait) {
            left:4px;
          }
        }
      }
    }

    &:focus,
    &:hover{
      background: #666;
    }
  }
}
@mixin breakpoint($point) {
 
  @if $point == phonePortrait {
    @media // iPhone (portrait and landscape)
    handheld,
      only screen and (min-device-pixel-ratio: 2),
      only screen and (max-width: #{$bp-iphone-max})
                  and (min-width: #{$bp-iphone-min}){
      @content;

    }
  } @else if $point == phoneLandscape {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == tabletPortrait {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == tabletLandscape {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == tentwentyfour {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1170px) {
      @content;
    }
  }  @else if $point == wideDesktop {
    @media (min-width: 1300px) {
      @content;
    }
  } 
   @else if $point == extraWideDesktopMenuOpen {
    @media (min-width: 1600px) {
      @content;
    }
  }
}