

//BACKGROUND
$main-bg:#fff;

//ANCHOR
$anchor-hover:#3D3D3D;
$anchor: #000;

$body_colour:#fff;
$copy_colour:#3D3D3D;
$white:#fff;
$red:#ff0000;
$black:#000;
$grey:#666;
$dark-grey:#3D3D3D;
$light-grey:#999;
$exlight-grey:#f3f3f3;
$tab-bg:#f5f5f5;
$colour-h1:$black;
$colour-h2:$black;
$colour-h3:$black;
$colour-h4:$anchor;
$colour-h5:$black;
 

$bp-large-screen: 1824px;
$bp-bigscreen: 1824px;
$bp-ipad-max: 1024px;
$bp-ipad-min: 768px;
$bp-iphone5-max: 568px;
$bp-iphone-max: 480px;
$bp-iphone-min: 320px;