/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../assets/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../assets/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../assets/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../assets/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-bold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-light.woff);
  font-weight: 100;
  font-style: normal;
}
/* apply a natural box layout model to all elements */
/* line 2, ../sass/modules/style.scss */
*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/modules/style.scss */
html, body {
  overflow-x: hidden;
}

/* line 11, ../sass/modules/style.scss */
html {
  height: 100%;
}

/* line 13, ../sass/modules/style.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 19, ../sass/modules/style.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../sass/modules/style.scss */
.clearfix {
  *zoom: 1;
}

/* line 27, ../sass/modules/style.scss */
body {
  background: #fff;
  color: #3D3D3D;
  font-family: MaryAnn, "Times New Roman", Times, serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

/* line 35, ../sass/modules/style.scss */
p {
  font-size: 18px;
  line-height: 1.3em;
}

/* line 39, ../sass/modules/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* line 48, ../sass/modules/style.scss */
p {
  margin-bottom: 1em;
}

/* line 52, ../sass/modules/style.scss */
h1 {
  font-size: 36px;
  color: #000;
  margin: 0px 0px 35px;
}

/* line 57, ../sass/modules/style.scss */
h2 {
  font-size: 27px;
  color: #000;
  margin: 0px 0px 25px;
}

/* line 62, ../sass/modules/style.scss */
h3 {
  font-size: 22px;
  color: #000;
  margin: 0px 0px 18px;
}

/* line 67, ../sass/modules/style.scss */
a {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #000;
  text-decoration: none;
}
/* line 71, ../sass/modules/style.scss */
a:hover {
  color: #666;
}

/* line 2, ../sass/modules/main.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 2, ../sass/modules/main.scss */
  .container {
    margin: 12px;
  }
}

/* line 12, ../sass/modules/main.scss */
.container {
  clear: both;
}
/* line 14, ../sass/modules/main.scss */
.container .row {
  width: 100%;
  display: block;
  position: relative;
}
/* line 19, ../sass/modules/main.scss */
.container .row .sidebar {
  float: right;
  width: 20%;
  margin-left: 10%;
  display: inline-block;
  padding-top: 59px;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 19, ../sass/modules/main.scss */
  .container .row .sidebar {
    display: none;
  }
}
/* line 30, ../sass/modules/main.scss */
.container .row .sidebar .sideads {
  width: 100%;
  display: inline-block;
  padding-bottom: 48px;
}
/* line 34, ../sass/modules/main.scss */
.container .row .sidebar .sideads h3 {
  width: 100%;
  display: inline-block;
}
/* line 38, ../sass/modules/main.scss */
.container .row .sidebar .sideads .placeholder {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
/* line 42, ../sass/modules/main.scss */
.container .row .sidebar .sideads .placeholder figure {
  background: #666;
  width: 100%;
  height: 150px;
  position: relative;
  display: table;
}
/* line 48, ../sass/modules/main.scss */
.container .row .sidebar .sideads .placeholder figure:before {
  content: "1:1";
  font-size: 40px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 61, ../sass/modules/main.scss */
.container .row .main-content {
  float: left;
  width: 70%;
  display: inline-block;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 61, ../sass/modules/main.scss */
  .container .row .main-content {
    width: 100%;
  }
}
/* line 68, ../sass/modules/main.scss */
.container .row .main-content h1 {
  margin: 0px 0px 15px;
}
/* line 71, ../sass/modules/main.scss */
.container .row .main-content figure {
  float: left;
  display: inline-block;
  margin: 20px 0;
  margin-left: -10px;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 71, ../sass/modules/main.scss */
  .container .row .main-content figure {
    margin: 0px 0 20px -10px;
  }
}
/* line 80, ../sass/modules/main.scss */
.container .row .main-content figure img {
  width: 158px;
  height: 120px;
  margin: 10px;
  border: 3px solid #fff;
  float: left;
  transform: translate(0, 0);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 88, ../sass/modules/main.scss */
.container .row .main-content figure img:hover {
  cursor: pointer;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 80, ../sass/modules/main.scss */
  .container .row .main-content figure img {
    width: 113px;
  }
}
/* line 95, ../sass/modules/main.scss */
.container .row .main-content figure img.selected {
  border: 3px solid #f06;
}
/* line 101, ../sass/modules/main.scss */
.container .row .main-content .main-copy {
  display: inline-block;
  padding-top: 10px;
  float: left;
}
/* line 105, ../sass/modules/main.scss */
.container .row .main-content .main-copy .useful-nav {
  float: right;
  width: 200px;
  padding: 0 20px 20px;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 105, ../sass/modules/main.scss */
  .container .row .main-content .main-copy .useful-nav {
    display: none;
  }
}
/* line 112, ../sass/modules/main.scss */
.container .row .main-content .main-copy .useful-nav.mobile {
  float: left;
  padding: 20px 20px 20px 0;
  display: none;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 112, ../sass/modules/main.scss */
  .container .row .main-content .main-copy .useful-nav.mobile {
    display: block;
  }
}
/* line 122, ../sass/modules/main.scss */
.container .row .main-content .main-copy .useful-nav ul {
  display: block;
}
/* line 124, ../sass/modules/main.scss */
.container .row .main-content .main-copy .useful-nav ul li {
  list-style: disc inside;
  padding: 0 0 6px 0;
}
/* line 127, ../sass/modules/main.scss */
.container .row .main-content .main-copy .useful-nav ul li a {
  font-size: 18px;
}
/* line 133, ../sass/modules/main.scss */
.container .row .main-content .main-copy p {
  width: 100%;
}

/* line 141, ../sass/modules/main.scss */
footer {
  clear: both;
  margin: 20px auto 0 auto;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 141, ../sass/modules/main.scss */
  footer {
    margin: 12px;
    width: 94%;
  }
}
/* line 151, ../sass/modules/main.scss */
footer .footer {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  background: #F3F2F2;
  padding: 20px;
  border: 1px solid black;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 151, ../sass/modules/main.scss */
  footer .footer {
    width: 100%;
    max-width: 100%;
  }
}
/* line 163, ../sass/modules/main.scss */
footer .footer .share {
  display: none;
}
/* line 13, ../sass/mixins.scss */
footer .footer .share li {
  float: left;
  display: inline;
  width: 60px;
  height: 60px;
  background: #000;
  margin: 0 10px 0 0;
  border-radius: 40px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 13, ../sass/mixins.scss */
  footer .footer .share li {
    width: 40px;
    height: 40px;
  }
}
/* line 27, ../sass/mixins.scss */
footer .footer .share li:last-child {
  margin-right: 0;
}
/* line 30, ../sass/mixins.scss */
footer .footer .share li a {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  text-indent: -999em;
  font-size: 45px;
  color: #fff;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 30, ../sass/mixins.scss */
  footer .footer .share li a {
    font-size: 26px;
  }
}
/* line 40, ../sass/mixins.scss */
footer .footer .share li a:before {
  float: left;
  left: 0px;
  position: absolute;
  text-indent: 0;
}
/* line 48, ../sass/mixins.scss */
footer .footer .share li a.facebook:before {
  top: 8px;
  left: 15px;
  content: "\f09a";
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 48, ../sass/mixins.scss */
  footer .footer .share li a.facebook:before {
    left: 12px;
  }
}
/* line 58, ../sass/mixins.scss */
footer .footer .share li a.twitter:before {
  top: 8px;
  left: 10px;
  content: "\f099";
}
/* line 65, ../sass/mixins.scss */
footer .footer .share li a.google:before {
  top: 7px;
  content: "\f0d5";
  left: 0;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 65, ../sass/mixins.scss */
  footer .footer .share li a.google:before {
    left: 4px;
  }
}
/* line 76, ../sass/mixins.scss */
footer .footer .share li:focus, footer .footer .share li:hover {
  background: #666;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 163, ../sass/modules/main.scss */
  footer .footer .share {
    display: table;
    width: 100%;
  }
  /* line 169, ../sass/modules/main.scss */
  footer .footer .share li {
    margin: 0;
    display: table-cell;
    margin-left: 16%;
  }
}

/* line 1, ../sass/modules/navigation.scss */
.header {
  display: block;
  max-width: 1024px;
  margin: 20px auto;
  position: relative;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 1, ../sass/modules/navigation.scss */
  .header {
    margin: 12px 12px 0 12px;
  }
}
/* line 10, ../sass/modules/navigation.scss */
.header .logo {
  margin: 0 auto;
}
/* line 12, ../sass/modules/navigation.scss */
.header .logo h1 {
  color: #fff;
  display: block;
  margin: 0;
}
/* line 17, ../sass/modules/navigation.scss */
.header .logo span {
  width: 74px;
  display: inline-block;
  padding: 18px 0;
  text-align: center;
  background: #666;
}
/* line 24, ../sass/modules/navigation.scss */
.header .logo a {
  font-size: 45px;
}
/* line 28, ../sass/modules/navigation.scss */
.header .share {
  position: absolute;
  right: 0;
  top: 8px;
}
/* line 13, ../sass/mixins.scss */
.header .share li {
  float: left;
  display: inline;
  width: 60px;
  height: 60px;
  background: #000;
  margin: 0 10px 0 0;
  border-radius: 40px;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 13, ../sass/mixins.scss */
  .header .share li {
    width: 40px;
    height: 40px;
  }
}
/* line 27, ../sass/mixins.scss */
.header .share li:last-child {
  margin-right: 0;
}
/* line 30, ../sass/mixins.scss */
.header .share li a {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  text-indent: -999em;
  font-size: 45px;
  color: #fff;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 30, ../sass/mixins.scss */
  .header .share li a {
    font-size: 26px;
  }
}
/* line 40, ../sass/mixins.scss */
.header .share li a:before {
  float: left;
  left: 0px;
  position: absolute;
  text-indent: 0;
}
/* line 48, ../sass/mixins.scss */
.header .share li a.facebook:before {
  top: 8px;
  left: 15px;
  content: "\f09a";
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 48, ../sass/mixins.scss */
  .header .share li a.facebook:before {
    left: 12px;
  }
}
/* line 58, ../sass/mixins.scss */
.header .share li a.twitter:before {
  top: 8px;
  left: 10px;
  content: "\f099";
}
/* line 65, ../sass/mixins.scss */
.header .share li a.google:before {
  top: 7px;
  content: "\f0d5";
  left: 0;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 65, ../sass/mixins.scss */
  .header .share li a.google:before {
    left: 4px;
  }
}
/* line 76, ../sass/mixins.scss */
.header .share li:focus, .header .share li:hover {
  background: #666;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 28, ../sass/modules/navigation.scss */
  .header .share {
    display: none;
  }
}
/* line 38, ../sass/modules/navigation.scss */
.header #nav {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}
/* line 44, ../sass/modules/navigation.scss */
.header #nav ul.menu {
  display: table;
  margin: 0 auto;
  position: relative;
  background: #F3F2F2;
  width: 100%;
  border: 1px solid black;
}
/* line 52, ../sass/modules/navigation.scss */
.header #nav ul.menu li {
  padding: 4px 0;
  display: table-cell;
}
/* line 55, ../sass/modules/navigation.scss */
.header #nav ul.menu li a {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  text-decoration: none;
  font-size: 26px;
  color: #000;
  padding: 0px 0 0px 0px;
  text-align: center;
  display: block;
  margin: 0;
}
/* line 65, ../sass/modules/navigation.scss */
.header #nav ul.menu li a:hover {
  color: #666;
}
@media handheld, only screen and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-width: 320px) {
  /* line 38, ../sass/modules/navigation.scss */
  .header #nav {
    position: relative;
    width: 100px;
    margin: 20px auto;
    display: block;
    padding: 4px 12px;
    background: #F3F2F2;
    border: 1px solid black;
    cursor: pointer;
  }
  /* line 83, ../sass/modules/navigation.scss */
  .header #nav:before {
    content: "menu";
    font-size: 30px;
    text-indent: center;
  }
  /* line 88, ../sass/modules/navigation.scss */
  .header #nav ul.menu {
    position: absolute;
    opacity: 0;
    z-index: -1;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 200px;
    display: block;
    left: -50px;
    top: 47px;
  }
  /* line 97, ../sass/modules/navigation.scss */
  .header #nav ul.menu li {
    width: 100%;
    float: left;
    display: block;
  }
  /* line 101, ../sass/modules/navigation.scss */
  .header #nav ul.menu li a {
    font-size: 24px;
  }
  /* line 107, ../sass/modules/navigation.scss */
  .header #nav:hover ul {
    opacity: 1;
    z-index: 1;
  }
}
