 
.container {
  max-width: 1024px;
  margin:0 auto;
  display: block;
  @include breakpoint(phonePortrait) {
    margin: 12px;
  }
}

 
.container{
  clear: both;
  .row{
    width: 100%;
    display: block;
    position: relative;
    
    .sidebar{
      float: right;
      width: 20%;
      margin-left: 10%;
      display: inline-block;
      padding-top: 59px;

      @include breakpoint(phonePortrait) {
       display: none; 
      }

      .sideads{
        width:100%;
        display: inline-block;
        padding-bottom: 48px;
        h3{
          width:100%;
          display: inline-block;
        }
        .placeholder{
          display: inline-block;
          width:100%;
          cursor: pointer;
          figure{
            background: #666;
            width:100%;
            height: 150px;
            position: relative;
            display: table;
            &:before{
              content: "1:1";
              font-size: 40px;
              color: $white;
              display: table-cell;
              vertical-align: middle;
              text-align: center;
            }
          }
        }
      }
    }

    .main-content{
      float: left;
      width: 70%;
      display: inline-block;
      @include breakpoint(phonePortrait) {
        width: 100%;
      }
      h1{
        margin: 0px 0px 15px;
      }
      figure{
        float: left;
        display: inline-block;
        margin: 20px 0;
        margin-left: -10px;

        @include breakpoint(phonePortrait) {
          margin:0px 0 20px -10px;
        }
        img{
          width:158px;
          height:120px;
          margin:10px;
          border:3px solid #fff;
          float: left;
          transform: translate(0, 0);
          @include transition(all 0.3s ease-out);
          &:hover{
            cursor:pointer;
          }
          @include breakpoint(phonePortrait) {
            width:113px;
          }

          &.selected{
            border:3px solid #f06;
          }
        }
      }

        .main-copy{
          display: inline-block;
          padding-top: 10px;
          float: left;
            .useful-nav{
              float: right;
              width: 200px;
              padding: 0 20px 20px;
              @include breakpoint(phonePortrait) {
                display: none;
              }
              &.mobile{
                float: left;
                padding: 20px  20px 20px 0 ;
                display: none;
                @include breakpoint(phonePortrait) {
                  display: block;
                }
              }
              
              h3{}
              ul{
                display: block;
                li{
                  list-style: disc inside;
                  padding: 0 0 6px 0;
                  a{
                    font-size: 18px;
                  }
                }
              }
            }
            p{
              width: 100%;
            }
      }
    }
  }
}

footer{
  clear:both;
  margin:20px auto 0 auto;
  width:100%;
  display: inline-block;
  overflow: hidden;
  @include breakpoint(phonePortrait) {
    margin: 12px;
    width: 94%;
  }
  .footer{
    margin:0 auto;
    max-width:1024px;
    position:relative;
    background: #F3F2F2;
    padding: 20px;
    border:1px solid black;
    @include breakpoint(phonePortrait) {

      width: 100%;
      max-width:100%;
    }
    .share{
      display: none;
      @include share;
      @include breakpoint(phonePortrait) {
        display: table;
        width: 100%;
        li{
          margin: 0;
          display: table-cell;
          margin-left: 16%;
        }
      }
      
    }
  }
}