.header{
  display:block;
  max-width:1024px;
  margin:20px auto;
  position: relative;
  @include breakpoint(phonePortrait) {
    margin: 12px 12px 0 12px;
  }

  .logo {
    margin:0 auto;
    h1 {
      color:$white;
      display: block;
      margin: 0;
    }
    span {
      width:74px;
      display: inline-block;
      padding: 18px 0;
      text-align: center;
      background: #666;
    }
    a{
      font-size: 45px;
    }
  }
  .share{
    @include share;
    position: absolute;
    right:0;
    top:8px;
    @include breakpoint(phonePortrait) {
      display: none;
    }
  }

  #nav{
    display:inline-block;
    width:100%;
    padding-top: 20px;


    ul.menu{
      display:table;
      margin: 0 auto;
      position:relative;
      background: #F3F2F2;
      width:100%;
      border:1px solid black;

      li {
        padding:4px 0;
        display:table-cell;
        a {
          @include transition(all 0.3s ease-out);
          position:relative;
          text-decoration:none;
          font-size:26px;
          color:$black;
          padding:0px 0 0px 0px;
          text-align: center;
          display: block;
          margin:0;
          &:hover{
            color: #666;
          }
        }
      }
      @include breakpoint(phonePortrait) {
        
      }
    }
    @include breakpoint(phonePortrait) {
      position: relative;
      width: 100px;
      margin:20px auto;
      display: block;
      padding: 4px 12px;
      background: #F3F2F2;
      border:1px solid black;
      cursor: pointer;
      &:before{
        content:"menu";
        font-size: 30px;
        text-indent: center;
      }
      ul.menu{
        position:absolute;
        opacity: 0;
        z-index: -1;
        @include transition(all 0.2s ease-out);
        width:200px;
        display: block;
        left: -50px;
        top: 47px;
        li{
          width: 100%;
          float: left;
          display: block;
          a{
            font-size: 24px;
          }
        }
      }
      &:hover{
        ul{
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }
}