/* apply a natural box layout model to all elements */
*,
:before,
:after {
@include box-sizing(border-box);
}

html, body {
  overflow-x: hidden;
}
html { height: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body{
  background:$main-bg;
  color: $copy_colour;
  font-family: MaryAnn, "Times New Roman", Times, serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

p{
  font-size: 18px;
  line-height: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

p {
  margin-bottom: 1em
}

h1{
  font-size: 36px;
  color: $colour-h1;
  margin: 0px 0px 35px;
}
h2{
  font-size: 27px;
  color: $colour-h2;
  margin: 0px 0px 25px;
}
h3{
  font-size: 22px;
  color: $colour-h2;
  margin: 0px 0px 18px;
}
a {
  @include transition(all 0.3s ease-out);
  color:#000;
  text-decoration: none;
  &:hover{
    color: #666;
  }
}