@font-face {
  font-family: 'FontAwesome';
  src: url("../assets/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../assets/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../assets/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../assets/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-bold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: MaryAnn;
  src: url(../assets/fonts/mary_ann_web-light.woff);
  font-weight: 100;
  font-style: normal;
}
